<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>
</head>

<body>

<h1>Edit User</h1>
<form th:object="${user}" th:action="@{/update/{id}(id=${user.id})}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label>Name: <input type="text" th:field="*{firstname}" /></label><br/>
    <label>Surname: <input type="text" th:field="*{lastname}" /></label><br/>
    <label>Age: <input type="number" th:field="*{age}" /></label><br/>
    <label>Note: <input type="text" th:field="*{email}" /></label><br/>
    <input type="submit" value="Save" />
</form>

</body>
</html>
<body>

</body>
</html>